site_name: rbx
site_description: A tool for creating and managing competitive programming problems
site_author: Roberto Sales
site_url: https://rbx.rsalesc.dev/
repo_url: https://github.com/rsalesc/rbx
repo_name: rsalesc/rbx
nav:
  - "intro/overview.md"
  - "intro/installation.md"
  - "Cheatsheet": "setters/cheatsheet.md"
  - "Walkthrough":
      - "setters/first-steps.md"
  - "Feature Guide":
      - "Variables": "setters/variables.md"
      - "Testset":
          - "setters/testset/index.md"
          - "Generators": "setters/testset/generators.md"
          - "Visualizers": "setters/testset/visualizers.md"
          - "Stress testing": "setters/stress-testing.md"
      - "Running":
          - "setters/running/index.md"
      - "Grading":
          - "setters/grading/index.md"
          - "Checkers": "setters/grading/checkers.md"
          - "Interactors": "setters/grading/interactors.md"
      - "Verification":
          - "setters/verification/index.md"
          - "Validators": "setters/verification/validators.md"
          - "Unit tests": "setters/verification/unit-tests.md"
          - "Stress testing": "setters/stress-testing.md"
      - "Statements":
          - "Overview": "setters/statements/index.md"
          - "Formats":
              - "rbxTeX": "setters/statements/formats/rbxtex.md"
              - "JinjaTeX & LaTeX": "setters/statements/formats/latex.md"
              - "PDF": "setters/statements/formats/pdf.md"
          - "Customizing":
              - "Write a template": "setters/statements/templates.md"
              - "Write contest statements": "setters/statements/contest.md"
      - "Packaging":
          - "setters/packaging/index.md"
          - "BOCA": "setters/packaging/boca.md"
          - "Polygon": "setters/packaging/polygon.md"
      - "Presets":
          - "setters/presets/index.md"
  - "Reference":
      - "CLI": "setters/reference/cli.md"
      - "Package":
          - "setters/reference/package/index.md"
          - "Schema": "setters/reference/package/schema.md"
      - "Contest":
          - "setters/reference/contest/index.md"
          - "Schema": "setters/reference/contest/schema.md"
      - "Environment":
          - "setters/reference/environment/index.md"
          - "Schema": "setters/reference/environment/schema.md"
  - "Troubleshooting":
      - "cpp-on-macos.md"
      - "stack-limit.md"
      - "intro/windows-git.md"
theme:
  name: material
  custom_dir: docs/templates
  logo: rbx_black_fit.png
  palette:
    primary: orange
  font:
    text: Source Sans Pro
    code: Source Code Pro
  icon:
    repo: fontawesome/brands/github
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.sections
    - navigation.indexes
    - navigation.path
    - navigation.expand
    - search.highlight
    - search.suggest
    - toc.follow
plugins:
  - search
  - macros
  - termynal
  - autorefs
  - gen-files:
      scripts:
        - rbx/box/dump_schemas.py
        - rbx/box/dump_cli_docs.py
  - mkdocstrings:
      handlers:
        python:
          options:
            unwrap_annotated: true
            extensions:
              - griffe_fieldz
extra:
  rbx: "[rbx](){:.rbx}"
  rbxTeX: "[rbxTeX](/setters/statements/formats/rbxtex)"
  rbxtex: "[rbxTeX](/setters/statements/formats/rbxtex)"
  icpcformat: "[ICPC package format](https://icpc.io/problem-package-format/spec/legacy-icpc.html)"
  codeforces: "[Codeforces](https://codeforces.com)"
  polygon: "[Polygon](https://polygon.codeforces.com)"
  boca: "[BOCA](https://github.com/cassiopc/boca)"
  testlib: "[testlib](https://codeforces.com/testlib)"
  jngen: "[jngen](https://github.com/ifsmirnov/jngen)"
  YAML: "[YAML](https://yaml.org)"
  repo: "[GitHub repository](https://github.com/rsalesc/rbx)"
  Jinja2: "[Jinja2](https://jinja.palletsprojects.com)"
  latex: "[LaTeX](https://www.latex-project.org)"
  regex:
    name: "^[a-zA-Z0-9][a-zA-Z0-9\\-]{2,32}$"
  tags:
    accepted: '<span style="color: green">accepted</span>'
    wrong_answer: '<span style="color: red">wrong answer</span>'
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/rsalesc/rbx
extra_css:
  - extra.css
markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true
  - markdown_grid_tables
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: "#"
