name: tests
on:
  pull_request:
    branches:
      - master
      - main
  push:
    tags:
      - "*.*.*" # Will trigger for every tag, alternative: 'v*'
    branches:
      - master
      - main
jobs:
  deploy:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9.x", "3.10.x", "3.11.x", "3.12.x", "3.13.x"]
        runs-on: [ubuntu-latest]
    name: ${{matrix.runs-on }} - Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
          python-version: ${{ matrix.python-version }}
          enable-cache: true
      - name: Load cached venv
        id: cached-uv-dependencies
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('uv.lock') }}
      - name: Install dependencies
        run: uv sync --locked --all-groups
      - name: Setup GCC
        uses: Dup4/actions-setup-gcc@v1
        with:
          version: latest
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "21"
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libasan8
      - uses: jdx/mise-action@v2
        with:
          version: 2024.12.14 # [default: latest] mise version to install
      - name: Run tests
        run: |
          source .venv/bin/activate
          mise run test-cov
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
